*{
   word-wrap: break-word;
   overflow-wrap: break-word;
   overflow-wrap: anywhere;
   font-weight: 550;
}

*::-webkit-scrollbar { 
   width: 0; 
   display: none; 
}
body{
   margin: 0 auto;
   max-width: 1080px;
   font-size: 16px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-right: 1px solid rgba(61, 61, 61, 0.5) ;
   border-left: 1px solid rgb(61, 61, 61, 0.5) ;
   min-height: 100vh;
}

.bar_top{
   background-color: rgb(246,247,252);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2px 15px;
   border-bottom: 1px solid rgb(61, 61, 61, 0.5);
}
.bar_top_left{ 
   display: flex;
   align-items: center;
   margin-left: 50px;
}
.bar_top_left img {
   z-index: 30;
   border-radius: 6px;
}
.bar_top_right{
   display: flex;
}
.bar_top_right a{
   text-decoration: none;
   color: rgb(1, 0, 56);
   margin-left: 10px;
   background-color: rgba(255, 255, 160, 0.753);
   padding: 5px 10px;
   border-radius: 5px;
   white-space: nowrap;
}
.bar_top_right a:hover{
   text-decoration:underline;
}
.side_bar{
   width: 62px;
   position: fixed;
   top: 0;
   z-index: 21;
   background-color: rgb(253,253,182);
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border-right: 1px solid black ;
   overflow:hidden
}
.side_bar a i {
   font-size: 26px;
   color: rgb(1, 0, 56);
   margin: 18px 15px 20px 18px ;
}
.side_bar a {
   font-size: 16px;
   text-decoration: none;
   color: rgb(1, 0, 56);
   white-space: nowrap;
   font-weight: 550;
}

.nd_icon {
   display: flex;
   align-items: center;
   gap: 10px;
}
.side_bar:hover{
   width: 259px;
   transition: all 0.4s;
}
.content{
   margin: 10px 10px 10px 72px ;
}

@media screen and (max-width: 368px) {
   .hide_2{
      display: none;
   }
}
@media screen and (max-width: 455px) {
   .side_bar{
      top: auto;
      bottom: 0;
      width: 100vw;
      height: 60px;
      flex-direction: row;
      justify-content: space-around;
   }
   .side_bar a {
      margin-left: -25px;
   }
   .nd_bar{
      display: none;
   }
   .side_bar:hover{
      width: 100vw;
   }
   .bar_top_left{
      margin-left: 0px;
   }
   .content{
      margin: 10px 10px 70px 10px;
   }
}

.img_log{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 30px 0 20px 0;
}

.form_log{
   background-color: rgb(246,247,252);
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 360px;
   margin: 0 auto;
   border: 1px solid rgba(0, 0, 0, 0.219);
   border-radius: 6px;
   padding: 0 18px 10px 12px;
}

.form_log input{
   width: 100%;
   height: 28px;
   outline: none;
}

.btn_log{
   cursor: pointer;
   background-color: rgb(255, 248, 181);
   border: 1px solid black;
   font-weight: 550;
   margin-right: -8px;
}

.home_gt, .home_gt2, .home_gt3 {
   background-color: rgb(246,247,252);
   padding: 10px;
   border-radius: 6px;
}
.col{
   border: 2px solid black;
   padding: 10px;
   border-radius: 2px;
   cursor: pointer;
   text-align: center;
   background-color: rgb(255, 255, 255);
}
.col:hover{
   transform:  translate(-3px, -3px);
   box-shadow: 3px 3px 0 0 rgba(39, 39, 39, 0.808);
   background-color: rgb(255, 255, 100);
   transition: all 0.3s;
}
.col a {
   font-size: 13px;
   font-weight: 550; 
   color: black;
}
.gird_sp{
   display: grid;
   justify-content: center;
   gap: 20px;
   grid-template-columns: repeat(auto-fit, 280px );
   margin: 0 auto;
}
.flex_top{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.home_gt2{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.home_gt2 li {
   font-weight: 550;
   margin-bottom: 10px;  
   font-size: 14px;
}
.home_gt2 li a {
   font-size: 15px;
   border-bottom: 1px solid black;
   padding: 5px 10px;   
   color: rgb(0, 0, 0);
   margin-left: 10px;
   white-space: nowrap;
}

.grid_sp2{
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   align-items: center;
   gap: 10px;
   list-style: none;
}

.grid_sp2 li {
   background-color: white;
   padding: 10px 20px;
   cursor: pointer;
   border: 1px solid transparent;
   text-decoration:underline;
   border-radius: 6px;
}
.grid_sp2 li:hover{
   border: 1px solid black;
   transform:  translate(0px, -2px);
   transition: all 0.3s;
   text-decoration:none;
}

#customers {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   min-width: 100%;
 }
 
 #customers td,
 #customers th {
   border: 1px solid #aaaaaa;
   padding: 8px;
 }
 
 #customers tr:nth-child(even){background-color: #ffffff;}
 
 #customers tr:hover {background-color: #ddd;}
 
 #customers th {
   
   white-space: nowrap;
   text-align: left;
   background-color: #04AA6D;
   color: white;
 }
 .pt{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
 }
 .pt a {
   text-decoration: none;
   background-color: rgba(185, 185, 185, 0.507);
   padding: 4px 10px;
   color: black;
   border-radius: 5px;
 }
 .visited_pt {
   border: 2px solid rgb(158, 158, 158);
 }

 .form_add_ttus{
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 15px;
 }
 .form_add_ttus input {
   height: 28px;
   width: 100%;
 }
 #addttus1{
   display: grid;
   grid-template-columns: 40% 60%;
   gap: 10px;
 }
 .a123us{
   border-right: 1px solid rgba(0, 0, 0, 0.329);
   padding-right: 20px;
 }
 .tble_tkus{
   overflow: scroll; padding-right: 10px;
}
 
@media screen and (max-width: 880px) {
   .grid_sp2{ grid-template-columns: 1fr;}
   #addttus1 {
      grid-template-columns: 100%;
   }
   .a123us {
      border-right: 0px ;
      padding-right: 8px;
   }
   .ttus123a{
      border-top: 1px solid black ;
      padding-top: 10px ;
   }
   .tble_tkus{
      padding-right: 0;
   }
}

.run_ttus {
   text-decoration: none;
   color: rgb(255, 255, 255);
   background-color: #04AA6D;
   padding: 4px 8px;
   border-radius: 4px;
   font-size: 14px;
}
.off_ttus{
   border-radius: 4px;
   text-decoration: none;
   color: rgb(255, 255, 255);
   background-color: #df0000;
   padding: 4px 8px;
   font-size: 14px;
}
.home_gt3{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 25px;
}

.main_wallet{
   text-align: center;
}
.main_wallet i {
   font-size: 38px;
   margin-top: 20px;
   background-color: white;
   padding: 15px;
   border-radius: 15px;
}
.main_wl2{
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 25px;
}
.main_wl2 a {
   cursor: pointer;
   padding: 10px 20px;
   border-radius: 6px;
   font-size: 14px;
}
#nap {
   background-color: #04AA6D;
   color: white;
}
#rut{
   background-color: #df0000;
   color: white;
}

.ls_vitien{
   border-bottom: 1px solid black;
   display: flex;
   gap: 18px;
   padding: 10px;
   align-items: center;
   white-space: nowrap;
   overflow: scroll;
   background-color: rgba(255, 255, 200, 0.747);
   cursor: pointer;
}
.ls_vitien:hover {
   background: linear-gradient(240deg, #cfffed, rgb(255, 255, 170)); 
   transition: all 0.4s;
}
.ls_vitien i {
   font-size: 28px;
   border-right: 1px solid black;
   padding-right: 20px; 
}
.nd_vitien{
   display: flex;
   align-items: center;
   gap: 10px;
}
.a_time{
   font-size: 10px;
   background-color: #dddddd;
   padding: 2px 10px;
   font-weight: 750;
   border-radius: 15px;
}
#xemthem_lsu {
   display: flex; justify-content: center;
   cursor: pointer;
}

.code_btn{
   display: flex;
   align-items: center;
   gap: 12px;
}

.top_job{
   display: flex; 
   align-items: center; 
   gap: 18px;
   white-space: nowrap;
   justify-content: space-between;
}

/* Dropdown Button */
.dropbtn {
   background-color: hsl(158, 95%, 34%);
   color: white;
   padding: 8px 12px;
   font-size: 16px;
   border: none;
   border-radius: 4px ;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: rgba(255, 255, 200);
   min-width: 133px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 20;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 8px 12px;
   text-decoration: none;
   display: block;
 }
 
 #od121, #od122{
   display: none;
 }
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display: block;}
 
 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {background-color: #3e8e41;}

 .hthi_nv{
   display: grid;
   justify-content: center;
   align-items: center;
   gap: 15px;
   grid-template-columns: 1fr 1fr;
   
 }

 @media screen and (max-width: 515px) {
   .dropdown{
      display: none;
   }
   #od121{
      display: block;
      font-size: 22px;
      cursor: pointer;
   }
   .hthi_nv{
       grid-template-columns: 1fr;
   }
 }
 
 #od122{
   margin: 0 0 10px 0;
 }
 #od122 a  {
   color: green;
 }
 #od122 ul {
   margin: 0;
 }
 #od122 ul li {
   margin: 5px;
 }


 .col_nv{
   border: 1px solid black;
   padding: 8px;
   background-color: white;
 }

 .col_nv:hover{
   transform:  translate(-3px, -3px);
   box-shadow: 3px 3px 0 0 rgba(39, 39, 39, 0.808);
   background-color: rgb(255, 255, 100);
   transition: all 0.3s;
   cursor: pointer;
}

.nv_top1 {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
.nv_a_top1{
   font-size: 18px;
   color: black;
   text-decoration: none;
}

.nv_body1{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 18px;
   margin: 10px 0;
}

.btn_02{
   display: flex;
   justify-content: center;
   background-color: #04aa6dcc;
   border: 1px solid rgba(0, 0, 0, 0.527);
   border-radius: 5px;
   color: #ffffff;
   padding:  4px ;
   text-decoration: none;
   font-weight: 750;
}


#myForm2, #myForm3{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(205, 216, 255, 0.226);
   z-index: 21212 ;
   overflow: scroll;
}

.in_form{
   width: 90%;
   max-width: 360px;
   margin: 20px auto;
   background-color: white;
   padding: 5px 12px;
   box-shadow: 0 0 10px 0 black;
   border-radius: 5px;
}

.form_nap{
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 12px;
}

.tt_bank{
   margin: 0;
}
.tt_bank li, .mta_01 li {
   color: #0c5339;
   padding: 6px;
}
.data_nap{
   display: none;
}

.mta_01 a{
   color:#ff0000;
   text-decoration: none;
}

.text_nv1{
   font-size: 16px;
   width: 99%;
   height: 100px;
}


.dm_scroll_sub{
    gap: 15px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
}
.dm_scroll_sub a{
   color: black;
   text-decoration: none;
   border: 1px solid rgba(0, 0, 0, 0.705);
   border-radius: 5px;
   padding: 5px 10px;
   width: 100%;
   text-align: center;
}
.dm_scroll_sub a:hover{
   background-color: rgb(255, 255, 255);
}
.sub_dm_visit{
   background-color: rgb(250, 255, 180);
}

.ul_add_nv3 li {
   padding-top: 12px;
}
textarea{
   font-weight: 450;
}

.nv02122{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 15px 10px 8px;
   margin-left: -25px;
}

.flx_txt{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
}

.duyet_btn12 {
   display: flex;
   overflow-x: scroll;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.duyet_btn12 a {
   text-decoration: none;
   padding: 6px 10px;
   color: white;
}

.btn_tbs12{
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}

.grid_nv2{
   display: grid;
   grid-gap: 15px;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gd_col211{
   background-color: white;
   border: 1px solid black;
}
.gd_col311{
   margin: 0;
   padding: 0;
   list-style: none;
   padding: 8px;
}
.gd_col211:hover{
   cursor: pointer;
   transition: all 0.4s;
   background-color: rgb(255, 255, 180);
}

.form_banus {
   display: flex;
   flex-direction: column;
   max-width: 320px;
   margin: 0 auto;
   gap: 15px;
   border: 1px solid black;
   padding: 10px;
   border-radius: 5px;
   background-color: white;
}
